{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Food Project{% endblock %}

{% block content %}
<div class="hero-banner">
    <img src="{% static 'images/foodapp_image_01.png' %}" alt="Delicious Fruit Banner" class="small-image" />
    <p style="font-size: small; color: grey;">© 2026 Neo Glennon/B00165586. Original artwork created from scratch.</p> <br />
    
    <h2>Hello there, welcome to The Super Food Market!</h2>
    <p>This will be your one-stop solution for a perfect food business management.</p>
</div>
{% endblock %}